body {
    background-image: url("../images/background.jpg");
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #3c3e80;
}

.card {
    border: none;
}

.subtitle {
    font-size: 15px;
    text-align: center;
    color: #3c3e80;
}

.jumbotron {
    padding: 40px;
    background-image: url("../images/jumbo-back.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;    background-position-y: -300px;
    background-size: 100%;
}

/* .row {
    width: 100%;
} */
.userInput {
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
}

#submit-train {
    width: 150px;
    margin-left: 90px;
}

.curtrain {
    background-color: #5b5d9b;
    color: white;
}

table {
    width: 100%;
}

input {
    width: 30%;
    margin: 5px;
}

.start {
    margin-right: 150px;
}

.frequency {
    margin-left: 15px;
}

.card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tableTop {
    padding: 20px;
    border-bottom: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
}

td {
    padding: 10px
}